.contact-content {
  font-family: Arial, sans-serif;
    background-color: #1E2A47;
    padding: 2rem;
    min-height: 100vh;
    text-align: center;
  }
  
.contact-content h1 {
    margin-bottom: 1rem;
    font: bold;
    font-size: 2rem;
    color: white;
  }

.form {
    max-width: 600px;
    margin: 0 auto 20px auto;
    background: rgb(205, 242, 245);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px #302d2d;
}

label {
  display: block;
  margin-top: 10px;
  margin-bottom: 5px;
  color: #0c0b0b;
  text-align: left;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  text-align: left;
}

button {
  display: block;
  margin: 20px 0;
  padding: 10px 20px;
  background-color: #1a1919;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: black;
}
