.home-content {
    display: flex;
    background-color: #1E2A47;
    justify-content: center;
    text-align: center;
    padding: 5rem;
    gap: 20px;
  }

  
.home-content h1 {
    font:bold;
    font-size: 2rem;
    margin-bottom: 1rem; 
    color: white;
}


.home-left-container {
    width: 40%;
    height: 400px;
    gap: 50px;
    font-family: 'Arial', sans-serif;
    justify-items: left;
    padding: 10px;
    padding-top: 2%;
}

.home-left-container p {
    text-align: left;
    color: white;
}

.home-right-container {
    width: 50%;
    height: 400px;
    background-color:  #1E2A47;
    justify-items: center;
}


.profile-picture {
    width: 300px;
    height: 300px;
    margin-top: 0;
    margin-bottom: 20%;
    border-radius: 50%;
    align-items: center; 
    border:10px;
    border-color: blue;
}

.typing {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    border-right: 3px solid;
    animation: typing 1s steps(20) infinite, blink 0.5s step-end infinite;
    animation-iteration-count: 1; 
  }

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
  }  

@keyframes blink {
    50% { border-color:transparent; }
  }



/* Responsive styles for laptop screens */
@media (max-width: 1024px) {
    .home-content {
        padding: 3rem;
        gap: 15px;
    }


    .home-left-container, .home-right-container {
        width: 45%; /* Adjust the width to fit better on laptops */
    }
}


/* Responsive styles for tablet and mobile screens */
@media (max-width: 768px) {
  .home-content {
      flex-direction: column;
      padding: 2rem;
      gap: 10px;
  }


  .home-right-container, .home-left-container {
    width: 100%;
    height: auto;
    text-align: center; /* Center align text on smaller screens */
  }

  .home-left-container p {
      text-align: left; /* Center align paragraph text on mobile */
   }

  .typing {
      font-size: 1.5rem; /* Adjust font size for typing effect on mobile */
  }
}